@model Wrly.Models.Business.GroupViewModel
<aside class="profile-card">
    @if (!string.IsNullOrEmpty(Model.ProfileCoverPath))
    {
        <div id="grand-cover" style="background-image:url(@Html.ImagePath(Model.ProfileCoverPath,900));">
            @if (ViewBag.DefaultTab)
            {
                <button class="link-alike change-cover">Change cover</button>
            }
        </div>
    }
    else
    {
        <div id="grand-cover">
            @if (ViewBag.DefaultTab)
            {
                <button class="link-alike change-cover">Add cover</button>
            }
        </div>
    }
    <header class="face">
        @if (ViewBag.DefaultTab)
        {
            <a class="change-profile-pic" onclick="____changeProfilePicture($(this))">
                @if (!string.IsNullOrEmpty(Model.ProfileImagePath))
                {
                    <img src="@Html.ImagePath(Model.ProfileImagePath, 100)" alt="User Image - @Model.Name" />
                }
                else
                {
                    <img src="/content/images/no-image.png" alt="user default image" />
                }
            </a>
        }
        else
        {
            <a class="change-profile-pic">
                @if (!string.IsNullOrEmpty(Model.ProfileImagePath))
                {
                    <img src="@Html.ImagePath(Model.ProfileImagePath, 100)" alt="User Image - @Model.Name" />
                }
                else
                {
                    <img src="/content/images/no-image.png" alt="user default image" />
                }
            </a>
        }
        <h1 id="h1Name">@Model.Name <span class="icon icon-edit-g"></span></h1>
        <div id="h1NameEdit" class="inline-control" style="display:none;"></div>
        <h2>
            <span>@(((Types.Enums.GroupType)Model.SubType).GetDescription())</span>
        </h2>
        <div id="h2HeadingEdit" style="display:none;"></div>
    </header>
    <div class="profile-info manage">
        <ul>
            <li>
                <span>@Model.TotalFollowers</span>
                Followers
            </li>
        </ul>
    </div>
</aside>