@model List<Wrly.Models.MyHappeningsViewModel>
@{
    Layout = "~/Views/Shared/_LayoutAuthenticated.cshtml";
    ViewBag.Title = "My activities";
}
<div class="container">
    <div class="page-container">
        <div class="page-container-wrapper">
            <h1>My activities</h1>
            <div class="additional-link text-right"><a href="/network/activities?ref=pg">Network updates</a></div>
            <ul class="table-row-container">
                @foreach (var item in Model)
                {
                    <li>
                        <div class="home-general-list-item">
                            <div class="thumbnail-notification-con">
                                <img alt="no image @item.AuthorName" src="@Html.ImagePath(item.ProfilePhotoUrl,50)" class="thumbnail-notification" alt="User Image - @item.AuthorName">
                            </div>
                            <div class="side-thumbnail">
                                <span class="activity-text">
                                    <a href="/@item.ProfileUrl">@item.AuthorName</a>
                                    <span class="inline">@item.Text</span>
                                </span>
                            </div>
                        </div>
                    </li>
                }
            </ul>
        </div>
    </div>
</div>
