@model Wrly.Models.ProfileViewModel
<div class="profile-face lean">
    <div class="profile-image">
        @if (!string.IsNullOrEmpty(Model.ProfilePic))
        {
            <img src="@Html.ImagePath(Model.ProfilePic,100)" alt="User Image - @Model.FullName" />
        }
        else
        {
            <img src="/content/images/no-image.png" alt="user default image" />
        }
    </div>
    <div class="profile-detail-face">
        <h1><a href="/profile"> @Model.FormatedName</a></h1>
        @if (!string.IsNullOrEmpty(Model.FormatedJobTitle))
        {
            <h2>
                <span>@Model.FormatedJobTitle</span>
            </h2>
        }
        <div class="connection-figures table-row">
            <span class="connection-figures"><a href="/profile/followers"><span class="figure">@Model.TotalFollowers</span></a> followers</span><span> | </span>
            <span class="connection-figures"><a href="/profile/connections"><span class="figure">@Model.TotalConnections</span></a> connections</span>
        </div>
    </div>
</div>