@{
    ViewBag.Title = "Insights";
    Layout = "~/Views/Shared/_LayoutAuthenticated.cshtml";
}

@model List<Wrly.Models.EntityInsightViewModel>
<div class="container">
    <div class="page-container">
        <div class="page-container-wrapper">
            <div class="groups" id="list-suggestions">
                <h1>Profile views</h1>
                @foreach (var item in Model)
                {
                    <section class="reuqest-item">
                        <div class="container">
                            <img class="thumbnail-notification left" src="@Html.ImagePath(item.ProfilePhotoUrl,100)" alt="User Image - @item.AuthorName" />
                            <div>
                                <div class="heading">
                                    <a href="/@item.ProfileUrl"><h3 class="page-title">@item.AuthorName</h3></a>
                                    <div class="max-heading">@(item.Heading)</div>
                                </div>
                            </div>
                            <div class="text-right">
                                <small class="child-headings">@item.CreatedOn.ToChatTime()</small>
                            </div>
                        </div>
                    </section>
                }
            </div>
        </div>
    </div>
</div>





