@model Wrly.Models.Business.BusinessProfileViewModel
<aside class="profile-card">
    @if (!string.IsNullOrEmpty(Model.ProfileCoverPath))
    {
        <div id="grand-cover" style="background-image:url(@Html.ImagePath(Model.ProfileCoverPath,900));">

        </div>
    }
    <header class="face">
        <a>
            @if (!string.IsNullOrEmpty(Model.ProfileImagePath))
            {
                <img src="@Html.ImagePath(Model.ProfileImagePath, 100)" alt="User Image - @Model.Name" />
            }
            else
            {
                <img src="/content/images/no-image.png" alt="user default image" />
            }
        </a>
        <h1>@Model.Name</h1>
        <h2>@Model.Category</h2>
       
    </header>
   
    @if (ViewBag.ShowAbout == true)
    {
        <div class="profile-bio section-floated-container">
            <h1>About</h1>
            <p>
                @if (!string.IsNullOrEmpty(Model.Description) && Model.Description.Length > 100)
                {
                    <span>
                        <span class="less">
                            @Model.Description.Substring(0, 100)<span>...</span>
                        </span>
                        <span class="more">
                            @Model.Description
                        </span>
                        <button class="link-alike" onclick="____swichAbout($(this))">Read more</button>
                    </span>
                }
                else
                {
                    @Model.Description
                }

            </p>
        </div>
    }
    @if (ViewBag.ShowQuickJump == true)
    {
        <ul class="profile-social-links" id="nav">
            <li data-val-action="action" class="fact"><a href="#" class="card" data-val-pointing="career-history-section"> <i class="glyph-icon flaticon-clinic-history"></i></a> </li>
            <li data-val-action="action" class="fact"><a href="#" class="card" data-val-pointing="certification-section"> <i class="glyph-icon flaticon-diploma"></i></a></li>
            <li data-val-action="action" class="fact"><a href="#" class="card" data-val-pointing="education-section"> <i class="glyph-icon flaticon-graduate-cap"></i></a></li>
            <li data-val-action="action" class="fact visible"><a href="#" data-val-pointing="skill-section" class="card active"> <i class="glyph-icon flaticon-skills"></i></a> </li>
        </ul>
    }
</aside>
<div class="text-center">
    <div class="btn-group" id="connectionStatus">
    </div>
</div>
<div class="profile-info manage">
    <ul>
        <li>
            <a href="/fou/@Model.ProfileName/profile-items/connections">
                <span>@Model.TotalConnections</span>
                Connections
            </a>
        </li>
        <li>
            <a href="/fou/@Model.ProfileName/profile-items/followers">
                <span>@Model.TotalFollowers</span>
                Followers
            </a>
        </li>
    </ul>
</div>