@model List<Wrly.Models.Listing.ActionAssociateProfileViewModel>
<div class="groups" id="list-suggestions">
    @foreach (var item in Model)
    {
        using (Html.BeginForm("Action", "Association", FormMethod.Post, new { onsubmit = "return ____associationAction($(this))" }))
        {
            @Html.AntiForgeryToken()
            @Html.Hidden("Hash", item.Hash)
            @Html.Hidden("EntityID", item.EntityID)
            @Html.Hidden("Mode", "Tile")

            <section class="reuqest-item">
                <div class="container">
                    <img class="thumbnail-notification left" src="@Html.ImagePath(item.ProfilePhotoUrl,100)" alt="User Image - @item.AuthorName" />
                    <div>
                        <div class="heading">
                            <a href="/@item.ProfileUrl"><h3 class="page-title">@item.AuthorName</h3></a>
                            <div class="max-heading">@(item.ProfileHeadline)</div>
                        </div>
                    </div>
                    <div class="buttons">
                        @if (ViewBag.IsSent)
                        {
                            @Html.Hidden("actn", "Cancel", new { @actn = "actn" })
                            <button class="btn btn-primary btn-sm" name="action" value="connect">Cancel</button>
                            <div class="waiting-bg"></div>
                        }
                        else
                        {
                            @Html.Hidden("actn", "Approve", new { @actn = "actn" })
                            <button class="btn btn-primary btn-sm" name="action" value="connect">Add</button>
                            <button type="button" class="btn btn-outlined btn-sm" onclick="return ____secondaryAssociationAction($(this))" name="action" value="Decline">Cancel</button>
                            <div class="waiting-bg"></div>
                        }
                    </div>
                    @if (item.CommonSkillCount > 0)
                    {
                        <div class="text-right">
                            <small class="child-headings">@item.CommonSkillCount common skills</small>
                        </div>
                    }
                </div>
            </section>
        }
    }
</div>
