@model Wrly.Models.AppreciationAndRecommendationViewModel

@using (Html.BeginForm("manageAppriciation", "Reference", FormMethod.Post, new { @class = "form-horizontal",id="frmAppriciation", role = "form", @onsubmit = "return manageAppreciation($(this))" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(c => c.Hash)
    @Html.HiddenFor(c => c.UserHash)
    <div class="form-group">
        <label class="control-label">Your appreciation:</label>
        <div class="col-md-10">
            @Html.TextAreaFor(c => c.Description, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <label class="control-label">Completion:</label>
        <div class="col-md-10">
            @Html.DropDownListFor(c => c.AwardID, Model.Project, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-primary btn-sm" value="Add to card" /><div class="waiting-bg"></div>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            $("form").data("validator", null);
            $.validator.unobtrusive.parse($("form"));
        });

        function manageAppreciation($obj) {
            var ser = $obj.serialize();
            var action = $obj.attr('action');
            if ($obj.valid()) {
                $.ajax({
                    url: action,
                    type: 'POST',
                    data: ser,
                    waitingSelector: $obj.find('.waiting-bg'),
                    dataType: 'html',
                    success: function (response) {
                        $("#appriciation-list").prepend(response);
                        $obj.remove();
                        postEditAction();
                    }
                });
            }
            return false;
        }
    </script>
}


